"Resources":
{
 "AutoTag": {
  "Type": "Custom::LambdaAutoTag",
  "DependsOn": "........",
  "Properties": {
   "ServiceToken": "arn of Lamdafunction",
   "instance-id": {"Ref": "........"},
   "instance-name": {"Ref": "........"}
  }
 }
}
